/* Main styles */

* {
  margin: 0;
  list-style: none;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: #060808;
  font-family: Avenir, Geneva, sans-serif;
  margin: 0 auto;
  color: #D8C4E0;
  text-shadow: 1px 1px 8px #75787B;
  font-weight: 550;
  font-size: calc(1rem + 0.5vw);
}

h1 {
  text-align: center;
  color: #D8C4E0;
  text-shadow: 5px 8px 6px #75787B;
  font-size: calc(2rem + 0.5vw);
  margin-top: 3rem;
}

h2 {
  text-align: center;
  color: #5F259F;
  font-size: calc(1rem + 0.5vw);
  text-shadow: none;
  padding: 1rem;
}

body section {
  display: flex;
  flex-direction: column; /* Stack sections vertically on small screens */
  align-items: center;    /* Center-align sections on small screens */
}

body #main {
  margin-top: 2rem;
}

a {
  color: #fff;
}

div span {
  visibility: hidden;
  width: 120px;
  background-color: #060808;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

footer {
  width: 100%;
  line-height: 20px;
  text-shadow: 3px 3px 12px #75787B;
  text-align: center;
  margin-bottom: 20px;
}

#freeSpace {
  z-index: 2;
}

/* Image styling */

img {
  width: 80%;
  padding-left: 10%;
}

/* Buttons */

#btnContainer {
  display: flex;
  text-align: center;
  max-width: 100%;
  margin-bottom: 2rem;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

section button {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 5px solid #D8C4E0;
  background-color: #5F259F;
  color: #fff;
  border-radius: 2rem;
  font-weight: 600;
  transition: 0.4s;
  opacity: 0.6;
}

/* Board styles */

table {
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}

td {
  border: 1px outset #060808;
  color: #fff;
  box-shadow: 2px 2px #D8C4E0, -1px -1px #D8C4E0;
  width: 1fr;
  height: 1fr;
  position: relative;
  text-align: center;
  background-color: #660099;
  overflow: hidden;
  word-break: break-word;
  white-space: pre-wrap;
  padding: .25rem;
}

/* Behavioral styles */

.coverAllOn {
  opacity: 1;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease;
}

.stamp {
  animation-name: stamp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  background: url("../img/spirit-logo-purple-rgb.png");
  background-color: #D8C4E0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.victory {
  background-color: #D8C4E0;
  animation-name: winner;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* Hover styles */

button:hover {
  transform: scale(1.5) translateY(-33px);
  opacity: 1;
  border: 5px solid #5F259F;
  background-color: #D8C4E0;
  color: #5F259F;
  transition: 0.4s;
  opacity: 0.6;
}

#btnContainer button:hover {
  opacity: 1;
  transform: scale(1.1);
}

div:hover span {
  visibility: visible;
}

a:hover {
  font-size: 1.1em;
}

td:hover {
  transform: scale(1.1);
  z-index: 1;
}

/* Keyframes */

@keyframes glow {
  0% {
    border: 5px solid #D8C4E0;
    background-color: rgb(11, 61, 92);
    color: #D8C4E0;
  }
  35% {
    border: 5px solid rgb(234, 236, 74);
    background-color: rgb(11, 61, 92);
    color: rgb(234, 236, 74);
  }
  65% {
    border: 5px solid rgb(234, 236, 74);
    background-color: rgb(11, 61, 92);
    color: rgb(234, 236, 74);
  }
  100% {
    border: 5px solid #D8C4E0;
    background-color: rgb(11, 61, 92);
    color: #D8C4E0;
  }
}

@keyframes stamp {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: .75;
    
  }
}

@keyframes winner {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(5.2);
    opacity: 1;
    box-shadow: none;
    white-space: pre-line;
  }
}

/* Responsive styles */
@media (max-width: 768px) {

  img {
    width: 100%; /* Full width on mobile */
    padding-left: 0; 
  }

  #btnContainer {
    flex-direction: column; /* Stack buttons vertically */
    aspect-ratio: 1 / 1; /* Full width */
  }

  table {
    width: 100%; /* Table should fit the screen */
    margin-bottom: 30px;
  }

  td {
    font-size: .8rem;
    max-width: 85px;
    height: 85px; 
  }

  footer {
    font-size: 14px; /* Smaller footer text */
    margin-bottom: 10px;
  }
}
